@font-face {
    font-family: 'Samsung';
    font-style: normal;
    font-weight: normal;
    src: local('SamsungOne 400'), url('../font/SamsungOne-400.woff') format('woff');
}
@font-face {
    font-family: 'Samsung';
    font-style: normal;
    font-weight: bold;
    src: local('SamsungOne 700'), url('../font/SamsungOne-700.woff') format('woff');
}