$vien:#CCC;
$link:#333;
$white:#FFF;
$black:#000;
$nen:#e8eff4;
$cam:#ee5922;
$camhover:#c0392b;
$xanhla:#009432;
$chu:#000;
@import 'font';
@media all and (min-width: 0)
{
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	body{
		font-family: "Samsung";
		background-color: $nen;
	}
	.clear{
		width: 100%;
		clear: both;
	}
	// Header
	header{
		height: 60px;
		background: $white;
		z-index: 999!important;
		display: flex;
		.logo{
			width: 70px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 60px;
			img{
				width: auto;
				height: 38px;
				display: block;
				margin-left: 1em;
			}
		}
		.right{
			width: calc(100% - 70px);
			ul{
				display: flex;
				justify-content: flex-end;
				align-items: center;
				height: 60px;
				li{
					list-style: none;
					margin: 0 10px;
					position: relative;
					.box{
						display: flex;
						align-items: center;
						position: relative;
						span{
							font-size: 14px;
							margin: 0 5px;
							cursor: pointer;
						}
					}
					.blog{
						display: none;
						position: absolute;
						top: 44px;
						right: 0;
						width: 200px;
						background-color: $white;
						border: 1px solid $vien;
						box-shadow: 1px 2px 9px $vien;
						padding: 15px;
						z-index: 6;
						h3{
							border-bottom: 1px solid $vien;
							padding-bottom: 10px;
							margin-bottom: 10px;
						}
						p{
							font-size: 13px;
							padding: 5px 0 10px 0;
							a{
								text-decoration: none;
								color: $black;
								b{
									color: $cam;
								}
							}
						}
					}
					i{
						cursor: pointer;
					}
					&.actived{
						.blog{
							display: block;
						}
					}
				}
			}
		}
	}
	// Content wrap
	.content-wrap{
		// Menu
		nav{
			position: fixed;
			top: 61px;
			left: -257px;
			width: 257px;
			height: calc(100vh - 60px);
			z-index: 2;
			transition: all .3s;
			background-color: $white;
			border-right: 1px solid $vien;
			overflow: auto;
    		overflow-x: hidden;
			&.actived{
				left: 0;
			}
			ul {
			  	list-style: none;
			  	padding: 0;
			  	background: $white;
			  	li{
			  		&.child-one{
			  			border-bottom: 1px solid $vien;
			  			line-height: 2.8;
			  			padding-top: 3px;
			  			&>a{
			  				text-transform: uppercase;
			  				font-size: 14px;
			  				i{
			  					margin-right: 5px;
			  					font-size: 16px;
			  				}
			  			}
			  			img{
			  				width: auto;
			  			}
			  		}
			  		a{
			  			text-decoration: none;
			  			color: $link;
			  			&.toggle{
			  				width: 100%;
						  	display: block;
						  	padding: 0 0.75em;
						  	&:hover{
						  		color: $cam;
						  	}
			  			}
			  		}
			  	}
			  	&.inner{
			  		padding-left: 3.5em;
			  		overflow: hidden;
			  		display: none;
			  	}
			  	ul.inner{
			  		li{
			  			line-height: 2;
			  			list-style: disc;
			  			a{
			  				font-size: 14px;
			  			}
			  			&:last-child{
			  				margin-bottom: 10px;
			  			}
			  			&.active{
			  				a{
			  					color: $cam;
			  				}
			  			}
			  			&.child-two{
			  				a{
					  			&.toggle{
								  	padding: 0;
								  	&:hover{
								  		background: transparent;
								  	}
					  			}
					  		}
			  			}
			  			ul.inner{
			  				padding-left: 1em;
			  				li{
			  					&:last-child{
			  						margin-bottom: 0;
			  					}
			  				}
			  			}
			  		}
			  	}
			}
		}
		// Content
		main{
			width: 100%;
		}
		// Blog
		.blog{
			width: calc(100% - 20px);
			background-color: $white;
			margin: 10px auto;
			border: 1px solid $vien;
			padding: 25px 10px;
		}
		// Bread
		.bread{
			border-bottom: 1px solid $vien;
			padding-bottom: 10px;
			margin-bottom: 10px;
			h1{
				float: left;
				font-size: 17px;
				text-transform: uppercase;
				font-weight: bold;
				span{
					font-size: 15px;
					font-weight: normal;
					text-transform: lowercase;
				}
			}
			div.button{
				padding-right: 3px;
				float: right;
				position: relative;
				button{
					background-color: $cam;
					border: none;
					padding: 7px 15px;
					border-radius: 4px;
					margin-left: 15px;
					&:first-child{
						margin-left: 0;
					}
					&:hover{
						background-color: $camhover;
					}
					a{
						text-decoration: none;
						color: $white;
						font-weight: bold;
						text-transform: uppercase;
					}
					&.update-info{
						background-color: #5cb12d;	
					}
				}
			}
		}
		.get-product{
			border: none;
			padding: 7px 15px;
			border-radius: 4px;
			margin-top: 15px;
			background-color: #5cb12d;	
			cursor: pointer;
			a{
				text-decoration: none;
				color: $white;
				font-weight: bold;
				text-transform: uppercase;
			}
		}
		.file-upload{
			border: none;
		    position:relative;
			padding: 7px 15px;
			margin-top: 15px;
			border-radius: 4px;
		    background-color: #2590EB;
		    color: $white;
		    cursor: pointer;
			font-weight: bold;
			text-transform: uppercase;
		    input[type='file']{
		      position:absolute;
		      top:0;
		      left:0;
		      opacity:0;
		      cursor:pointer;

		    }
		}
		// Table
		.table{
			width: 100%;
			border-spacing: 0px;
			thead{
				tr{
					th{
						border-bottom: 1px solid #000;
						padding: 15px 10px;
						background-color: #FFF;
					}
				}
			}
			tbody{
				tr{
					&:nth-child(2n+1){
						background:#f9f9f9;
						border-bottom:1px solid #ddd;
					}
					&:last-child td{
						border-bottom:1px solid #000;
					}
					&:hover{
						background-color: #F6F7FB;
					}
					td{
						border-bottom: 1px solid #ddd;
						padding: 15px 10px;
						&.can-giua{
							text-align: center;
						}
						i{
							font-size: 22px;
							margin: 0 5px;
							color: $cam;
						}
					}
				}
			}
		}
		// Form
		.form{
			p{
				&.tit-label{
					padding: 15px 0 5px 0;
					color: $chu;
					display: flex;
					align-items: center;
					font-weight: bold;
					span.using-name{
						cursor: pointer;
						background-color: $xanhla;
						color: $white;
						padding: 5px 10px;
						border-radius: 4px;
						font-size: 13px;
						margin-left: 20px;
						display: none;
					}
				}
			}
			.input-text{
				width: 100%;
				height: 38px;
				outline: none;
				padding: 0 15px;
				border: 1px solid $vien;
				font-family: "Samsung";
				font-size: 15px;
				&.text-product{
					height: 150px;
				}
			}
			textarea{
				width: 100%;
				outline: none;
				padding: 15px;
				border: 1px solid $vien;
				font-family: "Samsung";
				font-size: 15px;
			}
			select{
				height: 35px;
				font-family: "Samsung";
				font-size: 15px;
			}
			input[type="file"]{
			    height:37px;
			    font-family: "Samsung";
			    font-size: 15px;
			    cursor: pointer;
			}
			input[type="file"]::-webkit-file-upload-button{
			    height:37px;
			    font-family: "Samsung";
			    font-size: 15px;
			    cursor: pointer;
			}
			input[type="submit"]
			{
				padding: 12px 25px;
				text-transform: uppercase;
				cursor: pointer;
				border: none;
				background-color: $xanhla;
				border-radius: 5px;
				color: $white;
				font-weight: bold;
				font-family: "Samsung";
			}
		}
		// Phân trang
		.page{
			margin-top: 20px;
			ul{
				display: flex;
				justify-content: center;
				a{
					text-decoration: none;
					color: #FFF;
				}
				li{
					width: 30px;
					height: 30px;
					line-height: 30px;
					text-align: center;
					background: #27ae60;
					margin: 0 5px;
					list-style: none;
					border-radius: 3px;
					&:hover{
						background: #e74c3c;
					}
					svg{
						width: 10px;
						fill:#FFF;
					}
					&.actived{
						background: #c0392b;
						color: #FFF;
					}
				}
				span{
					font-size: 15px;
					margin-top: 7px;
				}
			}
		}
		// Tabs
		ul.tab{
		    overflow: hidden;
		    margin: 0px;
		    padding: 0px;
		    list-style: none;
		    position: sticky;
		    top: 60px;
		    li{
			    float: left;
			    list-style: none;
			    padding: 5px 10px;
			    background-color: #130f40;
			    border-radius: 4px 4px 0px 0px;
			    margin:10px 5px 0 0;
			    &.active{
			    	background: #009432;
			    }
			    &:last-child{
			    	margin-right: 0;
			    }
			    a{

			    	color: #fff;
				    text-transform: uppercase;
				    text-decoration: none;
				    font-weight: bold;
				    font-size: 13px;
			    }
			}
		}
		.tab-item{
		    display: none;
		}
	}
	// Footer
	footer{
		padding: 30px 0;
		text-align: center;
		font-size: 14px;
		a{
			color: $cam;
			text-decoration: none;
			font-weight: bold;
		}
	}
	.title-thongke{
		text-align: center;
		padding-top: 25px;
		color: red;
		text-transform: uppercase;
	}
}
@media all and (min-width: 996px)
{
	// Header
	header{
		.logo{
			width: 257px;
			border-right: 1px solid $vien;
		}
		.right{
			width: calc(100% - 257px);
		}
	}
	// Content wrap
	.content-wrap{
		// Menu
		nav{
			left: 0;
			top: 60px;
			border-top: 1px solid $vien;
		}
		// Content
		main{
			float: right;
			width: calc(100% - 257px);
		}
		// Blog
		.blog{
			&.mini{
				width: 500px;
			}
			&.small{
				width: 700px;
			}
			&.medium{
				width: 900px;
			}
		}
		// Form
		.form{
			.input-text{
				&.mini{
					width: 130px;
				}
				&.small{
					width: 300px;
				}
				&.medium{
					width: 500px;
				}
			}
		}
	}
}