img{max-width:100%;vertical-align:middle;display:inline-block}
.w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}
.w-container:before,
.w-container:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}
.w-container:after {
  clear: both;
}
.w-container .w-row {
  margin-left: -10px;
  margin-right: -10px;
}
@media screen and (max-width: 991px) {
  .w-container {
    max-width: 728px;
  }
}
@media screen and (max-width: 767px) {
  .w-row,
  .w-container .w-row {
    margin-left: 0;
    margin-right: 0;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ==========================================================================
   Start of custom Webflow CSS
   ========================================================================== */
.slick-slider-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.slick-slider-main {
  width: 75%;
  margin: 5px;
}

.slick-slider-nav {
  width: 25%;
  margin: 5px;
}

.slick-slider-inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.slick-slider-inner._4-3 {
  padding-top: 75%;
}

.slick-slider-inner._4-12 {
  padding-top: 225%;
}

.images-list {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.slick-list-item {
  position: relative;
  width: 100%;
}

.slick-list-item.vertical {
  overflow: hidden;
  margin-bottom: 5px;
  padding-top: 75%;
}

.slider-controls {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

.slider-controls.project-page {
  margin-top: 20px;
}

.slider-control {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #e01c28;
}

.slider-control:hover {
  background-color: #c01721;
}

.slider-control:active {
  background-color: #9c111a;
}

.slider-control.slider-control-prev {
  margin-right: 5px;
  background-image: url("arrow-left.svg");
  background-position: 47% 50%;
  background-size: 24%;
  background-repeat: no-repeat;
}

.slider-control.slider-control-next {
  background-image: url("arrow-right.svg");
  background-position: 47% 50%;
  background-size: 24%;
  background-repeat: no-repeat;
}

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.slider-wrapper {
  width: 100%;
}

.slick-list-item-inner {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
}

.heading {
  margin-bottom: 50px;
}

@media screen and (max-width: 479px) {
  .slick-slider-main {
    width: 100%;
  }

  .slick-slider-nav {
    display: none;
  }

  .heading {
    font-size: 2rem;
    line-height: 1.4;
  }
}

/*Important*/
.grid-nav-slick.slick-slider,.grid-main-slick.slick-slider {
   position: absolute !important;
}