@media all and (min-width: 0) {
  body {
    background-color: #000; }

  .dangoc-banner img.banner {
    width: 100%;
    height: auto;
    display: block; }
  .dangoc-banner ul {
    background-image: url(../image/da-ngoc/da-ngoc-bot.png);
    background-size: 100% auto;
    background-position: top center;
    background-color: transparent;
    background-repeat: no-repeat; }
    .dangoc-banner ul li {
      padding: 0 15px;
      list-style: none; }
      .dangoc-banner ul li h2 {
        color: #FFF;
        text-transform: uppercase;
        font-size: 20px;
        text-align: center; }
        .dangoc-banner ul li h2.trai {
          text-align: left; }
        .dangoc-banner ul li h2.phai {
          text-align: right; }
        .dangoc-banner ul li h2 span {
          background-color: #fbdbb3;
          color: #000;
          padding: 5px 5px 3px 5px; }
      .dangoc-banner ul li p {
        color: #FFF;
        padding: 15px 0 0 0;
        text-align: justify;
        line-height: 1.7; }
      .dangoc-banner ul li img {
        padding-top: 20px; }
    .dangoc-banner ul .owl-nav img {
      width: 40px;
      height: auto;
      display: block; }
    .dangoc-banner ul .owl-nav .owl-next {
      border-radius: 100%; }
    .dangoc-banner ul .owl-nav .owl-prev {
      border-radius: 100%; }

  .luachon {
    padding: 30px 25px; }
    .luachon h2 {
      text-align: center;
      color: #FFF;
      text-transform: uppercase;
      font-size: 20px;
      border-top: 1px solid #463d32;
      width: calc(100% - 20px);
      margin: auto;
      padding: 30px 0 20px 0; }
    .luachon p {
      text-align: center;
      color: #FBE2A2;
      font-style: italic;
      padding-bottom: 20px; }
      .luachon p.hidden {
        display: none; }
    .luachon ul li img {
      width: calc(100% - 60px) !important;
      margin: auto; }
    .luachon ul .owl-nav {
      width: 100%;
      height: 1px;
      position: absolute;
      top: calc(50% - 40px); }
      .luachon ul .owl-nav img {
        width: 40px;
        height: auto;
        display: block; }
      .luachon ul .owl-nav .owl-next {
        border-radius: 100%;
        position: absolute;
        right: -20px;
        top: -20px; }
      .luachon ul .owl-nav .owl-prev {
        border-radius: 100%;
        position: absolute;
        left: -20px;
        top: -20px; }
    .luachon ul .owl-dots {
      height: 40px;
      padding: 20px 0 0 0; }

  .lienhe {
    padding: 0 15px 30px 15px; }
    .lienhe .form-contact {
      padding: 15px 0 30px 0;
      width: 100%;
      background-image: url(../image/da-ngoc/frame.png);
      background-size: 100% 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative; }
    .lienhe h2 {
      text-transform: uppercase;
      color: #FFF;
      text-align: center;
      font-size: 20px;
      padding: 30px 0 20px 0; }
    .lienhe h3 {
      text-transform: uppercase;
      color: #FFF;
      text-align: center;
      font-size: 14px;
      font-weight: normal; }
    .lienhe .name-contact, .lienhe .dienthoai-contact {
      width: calc(100% - 80px);
      margin: auto;
      display: block;
      border: none;
      height: 45px;
      border-radius: 45px;
      outline: none;
      padding: 0 20px;
      font-family: 'Open Sans';
      font-size: 18px; }
    .lienhe .name-contact {
      margin: 20px 0 20px 0; }
    .lienhe .submit {
      padding: 0 20px;
      border-radius: 40px;
      border: none;
      text-transform: uppercase;
      margin: 20px 0;
      background-color: #FBE2A2;
      font-family: 'Open Sans';
      font-size: 18px;
      height: 45px; }

  .hotline {
    padding: 0 0 50px 0; }
    .hotline p {
      display: flex;
      justify-content: center;
      align-items: center; }
      .hotline p img {
        height: 40px;
        margin-right: 10px; }
      .hotline p span {
        color: #FFF;
        font-weight: bold;
        font-size: 30px; }

  footer {
    background-color: #FFF; } }
@media all and (min-width: 1200px) {
  body {
    background-image: url(../image/da-ngoc/bg.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto; }

  .dangoc-banner {
    padding: 500px 0 0 0; }
    .dangoc-banner ul {
      background-image: none;
      width: 1200px;
      margin: auto; }
      .dangoc-banner ul li {
        padding: 0; }
        .dangoc-banner ul li h2 span {
          padding: 8px 20px 10px 20px;
          margin-left: 10px; }
        .dangoc-banner ul li.one {
          width: 100%;
          border-bottom: 1px solid #463d32;
          padding: 0 0 50px 0;
          margin: 0 0 60px 0; }
          .dangoc-banner ul li.one h2 {
            font-size: 25px; }
          .dangoc-banner ul li.one p {
            text-align: center;
            line-height: 2.3; }
        .dangoc-banner ul li.two {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 0 50px 0; }
          .dangoc-banner ul li.two h2 {
            font-size: 25px;
            text-align: left; }
          .dangoc-banner ul li.two .trai {
            width: 510px; }
          .dangoc-banner ul li.two .phai {
            width: 590px; }
            .dangoc-banner ul li.two .phai img {
              width: 100%;
              height: auto;
              display: block; }
        .dangoc-banner ul li.three {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 0 30px 0; }
          .dangoc-banner ul li.three h2 {
            font-size: 25px;
            text-align: left; }
          .dangoc-banner ul li.three .trai {
            width: 590px; }
            .dangoc-banner ul li.three .trai img {
              width: 100%;
              height: auto;
              display: block; }
          .dangoc-banner ul li.three .phai {
            width: 510px; }

  .luachon {
    width: 1200px;
    margin: auto;
    padding: 30px 0; }
    .luachon h2 {
      font-size: 30px;
      width: 100%; }
      .luachon h2 br {
        display: none; }
    .luachon p {
      font-size: 18px; }
      .luachon p.hidden {
        font-style: normal;
        display: block;
        color: #FFF; }
    .luachon ul li img {
      width: 990px !important; }
    .luachon ul .owl-nav {
      top: calc(50% - 40px); }
      .luachon ul .owl-nav img {
        width: 80px; }
      .luachon ul .owl-nav .owl-next {
        right: -20px;
        top: -40px; }
      .luachon ul .owl-nav .owl-prev {
        left: -20px;
        top: -40px; }

  .lienhe {
    width: 1200px;
    margin: auto;
    padding: 50px 0 30px 0;
    border-top: 1px solid #463d32; }
    .lienhe h3 {
      color: #b59f83;
      font-size: 45px; }
      .lienhe h3.tren {
        text-align: left;
        padding: 0 0 0 100px; }
        .lienhe h3.tren span {
          font-weight: bold; }
      .lienhe h3.duoi {
        text-align: right;
        padding: 0 100px 50px 0; }
        .lienhe h3.duoi span {
          font-weight: bold; }
    .lienhe .form-contact {
      width: 880px;
      margin: auto;
      background-image: url(../image/da-ngoc/frame-pc.png); }
      .lienhe .form-contact h2 {
        font-size: 30px; }
      .lienhe .form-contact h3 {
        font-size: 20px;
        padding-bottom: 10px;
        color: #FFF; }
        .lienhe .form-contact h3 br {
          display: none; }
      .lienhe .form-contact .name-contact, .lienhe .form-contact .dienthoai-contact {
        width: 50%; }

  .hotline p span {
    color: #FFF;
    font-weight: bold;
    font-size: 35px; } }

/*# sourceMappingURL=da-ngoc.css.map */
