@media all and (min-width: 0) {
  .da-lat-nen-all {
    background-color: #191313; }
    .da-lat-nen-all .da-lat-nen {
      background-image: url("../../view/da-lat-nen/upload/bg-start.png");
      background-size: 100% auto;
      background-repeat: no-repeat;
      height: 450px;
      background-position: top center;
      margin: auto;
      display: block;
      position: relative;
      z-index: 1; }
      .da-lat-nen-all .da-lat-nen .bg-extand {
        background-image: url("../../view/da-lat-nen/upload/bg-extand.png");
        height: 200px;
        background-position: top center;
        margin: auto;
        display: block;
        position: absolute;
        z-index: 2;
        top: 250px;
        width: 100%; }
        .da-lat-nen-all .da-lat-nen .bg-extand h1 {
          font-family: 'SVN-Aptima';
          font-weight: 700;
          font-size: 20px;
          line-height: 33px;
          text-align: center;
          letter-spacing: 0.875px;
          background: linear-gradient(90deg, #CAA090 0%, #D5CDC2 49.01%, #CAA090 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
          text-shadow: 0px 4px 6px rgba(255, 255, 255, 0.25);
          color: #542B1C;
          padding-top: 58px;
          text-transform: uppercase; }
          .da-lat-nen-all .da-lat-nen .bg-extand h1:after {
            content: "";
            border-bottom: 1px solid #CAA090;
            width: 151px;
            display: block;
            margin: auto;
            padding-top: 13px; }
    .da-lat-nen-all .content-first p {
      font-family: 'SVN-Aptima';
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      text-align: justify;
      letter-spacing: 0.875px;
      color: #fff;
      padding: 14px 21px 0 21px; }
    .da-lat-nen-all .img-list {
      margin-top: 17px;
      list-style: none;
      position: relative; }
      .da-lat-nen-all .img-list li img {
        padding: 0 45px 0 18px;
        width: 100%;
        display: block;
        margin: 0 auto; }
      .da-lat-nen-all .img-list .owl-nav .owl-prev {
        position: absolute;
        background-image: url(../../view/da-lat-nen/upload/prev.png) !important;
        left: 0;
        width: 49px;
        height: 49px;
        top: 35%; }
        .da-lat-nen-all .img-list .owl-nav .owl-prev span {
          display: none; }
      .da-lat-nen-all .img-list .owl-nav .owl-next {
        background-image: url(../../view/da-lat-nen/upload/next.png) !important;
        position: absolute;
        top: 35%;
        right: 0;
        width: 49px;
        height: 49px; }
        .da-lat-nen-all .img-list .owl-nav .owl-next span {
          display: none; }
      .da-lat-nen-all .img-list .owl-dots {
        padding-top: 28px; }
        .da-lat-nen-all .img-list .owl-dots .owl-dot.active span {
          width: 18px;
          height: 6px; }
    .da-lat-nen-all .description1 .content-second p {
      font-family: 'SVN-Aptima';
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      text-align: justify;
      letter-spacing: 0.875px;
      color: #fff;
      padding: 0 21px 0 21px;
      position: absolute;
      z-index: 8; }
    .da-lat-nen-all .description1 .content-third h1 {
      font-family: 'SVN-Aptima';
      font-weight: 700;
      font-size: 18px;
      line-height: 33px;
      text-align: center;
      letter-spacing: 0.875px;
      text-transform: uppercase;
      background: linear-gradient(90deg, #CAA090 0%, #D5CDC2 49.01%, #CAA090 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      text-shadow: 0px 4px 6px rgba(255, 255, 255, 0.25);
      padding: 80px 31px 0 31px; }
    .da-lat-nen-all .description1 .content-third p {
      font-family: 'SVN-Aptima';
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      text-align: justify;
      letter-spacing: 0.875px;
      color: #fff;
      padding: 8px 21px 0 21px;
      position: absolute;
      z-index: 8; }
    .da-lat-nen-all .description1 .img-2 img {
      width: 100%;
      margin: 18px auto;
      top: 100px;
      display: block;
      position: relative;
      z-index: 1; }
    .da-lat-nen-all .description1 .group-tru-cot {
      background-image: url("../../view/da-lat-nen/upload/bg-third.png");
      background-size: 100% auto;
      background-repeat: no-repeat;
      margin: 200px auto 0 auto;
      display: block; }
      .da-lat-nen-all .description1 .group-tru-cot h1 {
        font-family: 'SVN-Aptima';
        text-align: center;
        letter-spacing: 0.875px;
        background: linear-gradient(90deg, #CAA090 0%, #D5CDC2 49.01%, #CAA090 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        text-shadow: 0px 4px 6px rgba(255, 255, 255, 0.25);
        padding-top: 26px;
        font-weight: 700;
        font-size: 18px;
        line-height: 33px;
        text-transform: uppercase; }
        .da-lat-nen-all .description1 .group-tru-cot h1:after {
          content: "";
          border-bottom: 1px solid #CAA090;
          width: 151px;
          display: block;
          margin: auto;
          padding-top: 13px; }
      .da-lat-nen-all .description1 .group-tru-cot .img-list-2 {
        list-style: none;
        margin-top: 28px;
        padding-left: 56px; }
        .da-lat-nen-all .description1 .group-tru-cot .img-list-2 li img {
          padding-right: 35px;
          width: 70%;
          display: block; }
        .da-lat-nen-all .description1 .group-tru-cot .img-list-2 .owl-dots .owl-dot.active span {
          width: 18px;
          height: 6px;
          background-color: #fff; }
        .da-lat-nen-all .description1 .group-tru-cot .img-list-2 .owl-nav .owl-prev {
          position: absolute;
          /*background-image: url(../../view/da-lat-nen/upload/prev.png)!important;*/
          left: 0;
          width: 49px;
          height: 49px;
          top: 40%; }
          .da-lat-nen-all .description1 .group-tru-cot .img-list-2 .owl-nav .owl-prev span {
            display: none; }
        .da-lat-nen-all .description1 .group-tru-cot .img-list-2 .owl-nav .owl-next {
          /*background-image: url(../../view/da-lat-nen/upload/next.png)!important;*/
          position: absolute;
          top: 40%;
          right: 0;
          width: 49px;
          height: 49px; }
          .da-lat-nen-all .description1 .group-tru-cot .img-list-2 .owl-nav .owl-next span {
            display: none; }
      .da-lat-nen-all .description1 .group-tru-cot p {
        font-family: 'SVN-Aptima';
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        text-align: justify;
        letter-spacing: 0.875px;
        padding: 8px 21px 34px 21px;
        color: #fff; }
    .da-lat-nen-all .social {
      background-image: url("../../view/da-lat-nen/upload/social.png");
      width: 100%;
      background-repeat: no-repeat;
      background-position: top center;
      margin: auto;
      display: block; }
      .da-lat-nen-all .social h1 {
        font-family: 'SVN-Aptima';
        font-weight: 700;
        font-size: 25px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.875px;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        padding-top: 42px; }
      .da-lat-nen-all .social p {
        padding: 12px 22px 0 22px;
        font-family: 'SVN-Aptima';
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        text-align: justify;
        letter-spacing: 0.875px;
        color: #FFFFFF; }
      .da-lat-nen-all .social .service {
        display: flex;
        flex-flow: row wrap;
        padding-bottom: 56px; }
        .da-lat-nen-all .social .service .detail-service {
          width: 50%; }
          .da-lat-nen-all .social .service .detail-service .icon {
            border-radius: 50%;
            height: 86px;
            width: 86px;
            margin: 33px auto 0 auto;
            background: linear-gradient(180deg, #FEE7B5 0%, #E5B15C 100%);
            box-shadow: 0px 0px 20px rgba(249, 220, 164, 0.51); }
            .da-lat-nen-all .social .service .detail-service .icon picture img {
              margin: 23px 0 0 17px; }
          .da-lat-nen-all .social .service .detail-service p {
            text-align: center; }
      .da-lat-nen-all .social .company-info {
        list-style: none;
        padding-left: 22px;
        padding-bottom: 67px; }
        .da-lat-nen-all .social .company-info li {
          display: flex;
          justify-content: justify;
          align-items: center; }
          .da-lat-nen-all .social .company-info li img {
            width: 20px;
            padding-top: 12px; }
          .da-lat-nen-all .social .company-info li p {
            font-family: 'SVN-Aptima';
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            text-align: justify;
            letter-spacing: 0.875px;
            color: #FFFFFF; }
    .da-lat-nen-all .contact h1 {
      text-align: center;
      font-family: 'SVN-Aptima';
      font-weight: 700;
      font-size: 16px;
      line-height: 25px;
      text-transform: uppercase;
      padding-top: 31px;
      color: #fff; }
    .da-lat-nen-all .contact #form-contact form {
      padding: 20px 24px 56px 24px;
      display: block; }
      .da-lat-nen-all .contact #form-contact form input, .da-lat-nen-all .contact #form-contact form textarea {
        background: rgba(211, 211, 211, 0.5);
        mix-blend-mode: normal;
        backdrop-filter: blur(4px);
        border-radius: 16px;
        font-family: SVN-Aptima;
        padding: 8px 16px 10px;
        font-size: 1rem;
        line-height: 1.375rem;
        margin-top: 12px;
        border: none;
        color: #000;
        width: 100%;
        outline: none;
        background: rgba(255, 255, 255, 0.8); }
      .da-lat-nen-all .contact #form-contact form input {
        padding: 16px 0 20px 16px;
        height: 55px; }
      .da-lat-nen-all .contact #form-contact form button {
        outline: none;
        border: none;
        margin: 28px auto;
        display: block;
        width: 180px;
        height: 42px;
        background: linear-gradient(180deg, #FEE7B5 0%, #E5B15C 100%);
        box-shadow: 0px 0px 20px rgba(249, 220, 164, 0.51);
        border-radius: 100px;
        font-family: 'SVN-Aptima';
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.875px;
        text-transform: uppercase;
        color: #0B1D26; }
      .da-lat-nen-all .contact #form-contact form .input-placeholder {
        position: relative; }
        .da-lat-nen-all .contact #form-contact form .input-placeholder input:valid + .placeholder-ct {
          display: none; }
        .da-lat-nen-all .contact #form-contact form .input-placeholder .placeholder-ct {
          position: absolute;
          pointer-events: none;
          top: 0;
          bottom: 0;
          font-size: 1rem;
          line-height: 1.375rem;
          height: 17px;
          left: 20px;
          margin: auto;
          color: #000; }
          .da-lat-nen-all .contact #form-contact form .input-placeholder .placeholder-ct span {
            color: red; }
    .da-lat-nen-all .contact #form-contact form textarea {
      height: 147px;
      width: 100%;
      padding-bottom: 115px; } }
@media all and (min-width: 521px) {
  .da-lat-nen-all {
    width: 480px;
    margin: 0 auto; } }
@media all and (min-width: 1201px) {
  .da-lat-nen-all {
    background-color: #000;
    width: 100%; }
    .da-lat-nen-all .da-lat-nen {
      background-image: url("../../view/da-lat-nen/upload/bg-start-desktop.png"); }
      .da-lat-nen-all .da-lat-nen .bg-extand {
        background-image: none;
        top: 75px; }
        .da-lat-nen-all .da-lat-nen .bg-extand h1 {
          font-weight: 700;
          font-size: 24px;
          line-height: 40px;
          color: #542B1C; }
          .da-lat-nen-all .da-lat-nen .bg-extand h1:after {
            content: "";
            border-bottom: 1px solid #CAA090;
            width: 151px;
            display: block;
            margin: auto;
            padding-top: 5px; }
    .da-lat-nen-all .content-first {
      position: absolute;
      margin: -170px auto 0 auto;
      left: 0;
      right: 0;
      z-index: 9; }
      .da-lat-nen-all .content-first p {
        line-height: 25px;
        text-align: center;
        width: 790px;
        margin: 0 auto;
        padding: 0 21px 0 21px; }
    .da-lat-nen-all .img-list {
      margin: -80px auto 46px auto;
      width: 1200px; }
      .da-lat-nen-all .img-list li img {
        padding: 0 5px 0 0px;
        width: 100%;
        display: block;
        margin: 0 auto; }
    .da-lat-nen-all .description1 .content-second {
      margin: 0 auto;
      width: 1093px;
      display: block; }
      .da-lat-nen-all .description1 .content-second p {
        line-height: 25px;
        text-align: center; }
    .da-lat-nen-all .description1 .img-2 {
      width: 1200px;
      margin: 0 auto;
      display: block; }
    .da-lat-nen-all .description1 .content-third h1 {
      margin: 0 auto;
      width: 619px;
      font-size: 30px;
      line-height: 50px;
      text-align: center;
      padding: 0 31px 0 31px;
      z-index: 9;
      position: absolute;
      text-align: center;
      left: 0;
      right: 0; }
    .da-lat-nen-all .description1 .content-third p {
      margin: 0 auto;
      width: 1093px;
      text-align: center;
      position: static;
      padding: 128px 21px 0 21px; }
    .da-lat-nen-all .description1 .group-tru-cot {
      background-image: none;
      background-size: 100% auto;
      background-repeat: no-repeat;
      margin: 46px auto 0 auto;
      display: flex;
      flex-direction: column; }
      .da-lat-nen-all .description1 .group-tru-cot h1 {
        order: 2;
        padding-top: 26px;
        font-size: 30px;
        line-height: 50px; }
        .da-lat-nen-all .description1 .group-tru-cot h1:after {
          display: none; }
      .da-lat-nen-all .description1 .group-tru-cot .img-list-2 {
        order: 1;
        width: 1200px;
        margin: 28px auto;
        padding-left: 0; }
        .da-lat-nen-all .description1 .group-tru-cot .img-list-2 li img {
          padding: 0 2px 0 0px;
          width: 100%; }
        .da-lat-nen-all .description1 .group-tru-cot .img-list-2 .owl-nav {
          display: block; }
          .da-lat-nen-all .description1 .group-tru-cot .img-list-2 .owl-nav .owl-prev {
            left: -30px;
            background-image: url(../../view/da-lat-nen/upload/prev.png) !important; }
          .da-lat-nen-all .description1 .group-tru-cot .img-list-2 .owl-nav .owl-next {
            right: -30px;
            background-image: url(../../view/da-lat-nen/upload/next.png) !important; }
      .da-lat-nen-all .description1 .group-tru-cot p {
        order: 3;
        text-align: center;
        width: 1060px;
        margin: 0 auto; }
        .da-lat-nen-all .description1 .group-tru-cot p:after {
          content: "";
          border-bottom: 1px solid #CAA090;
          width: 304px;
          display: block;
          margin: 47px auto; }
    .da-lat-nen-all .social {
      background-image: url("../../view/da-lat-nen/upload/social-desktop.png");
      width: 100%;
      margin: auto;
      display: block;
      height: 920px;
      margin-top: -20%; }
      .da-lat-nen-all .social h1 {
        color: #fff;
        padding-top: 19%; }
      .da-lat-nen-all .social p.social-article {
        text-align: center;
        width: 1046px;
        margin: 0 auto; }
      .da-lat-nen-all .social .service {
        display: flex;
        flex-flow: row nowrap;
        padding-bottom: 56px;
        width: 1100px;
        margin: auto; }
        .da-lat-nen-all .social .service .detail-service {
          width: 25%; }
          .da-lat-nen-all .social .service .detail-service .icon {
            border-radius: 50%;
            height: 136px;
            width: 136px;
            margin: 33px auto 0 auto;
            background: linear-gradient(180deg, #FEE7B5 0%, #E5B15C 100%);
            box-shadow: 0px 0px 20px rgba(249, 220, 164, 0.51); }
            .da-lat-nen-all .social .service .detail-service .icon picture img {
              margin: 38px 0 0 27px; }
          .da-lat-nen-all .social .service .detail-service p {
            text-align: center; }
      .da-lat-nen-all .social .company-info {
        list-style: none;
        padding-left: 21%;
        width: 50%;
        margin-top: 200px;
        position: absolute;
        z-index: 3; }
        .da-lat-nen-all .social .company-info li {
          display: flex;
          justify-content: justify;
          align-items: center; }
          .da-lat-nen-all .social .company-info li img {
            width: 20px;
            padding-top: 12px; }
          .da-lat-nen-all .social .company-info li p {
            font-family: 'SVN-Aptima';
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            text-align: justify;
            letter-spacing: 0.875px;
            color: #FFFFFF; }
    .da-lat-nen-all .contact {
      position: relative;
      display: flex;
      flex-direction: row-reverse; }
      .da-lat-nen-all .contact .form-all {
        margin-right: 19%;
        margin-top: -120px;
        width: 400px; } }

/*# sourceMappingURL=lat-nen.css.map */
