@import 'owl';
@import 'color';
@import 'font';
@media all and (min-width: 0){
	main{
		width: 100%;
		.anh-da{
			background-image: url('../../view/tranh-da-cao-cap/image/back-anh-da.png');
			background-size: 100% 100%;
			background-repeat: no-repeat;
			.tieu-de-tranh-da{
				background-image: url('../../view/tranh-da-cao-cap/image/tieu-de.png');
				background-repeat: no-repeat;
	    		width: 100%;
	    		height: 166px;
	    		background-position: center;
				h1{
					font-family: 'Open Sans';
					font-style: normal;
					font-weight: 700;
					padding-top: 60px;
					left: 0;
					right: 0;
					font-size: 20px;
					line-height: 27px;
					text-align: center;
					color: #86121A;
					white-space: nowrap;
				}
			}
		
			.slide{
				padding: 15px 15px 0 15px;
				margin: auto;
				ul{
					list-style: none;
					margin-bottom: 8px;
					li{
						&:first-child{
							margin-bottom: 13px;
							img{
								width: 100%;
								display: block;
							}
						}
						&:last-child{
							display: flex;
							justify-content: space-between;
							img{
								width: calc(20% - 9.5px);
								display: block;
							}
						}
					}
				}
				#sync1{
					position: relative;
					margin-bottom: 13px;
					.owl-nav{
						top: calc(50% - 33px);
					    position: absolute;
					    width: 100%;
					    justify-content: space-between;
					    display: flex;
						.owl-prev{
							width: 35px;
    						height: 35px;
							background: #9B351F;
							box-shadow: 0px 9.98286px 9.07533px rgba(0, 0, 0, 0.1);
							border-radius: 22px;
							margin-left: -15px;
							img{
								width: 5px;
								height: 10px;
							}
						}
						.owl-next{
							background: #9B351F;
							box-shadow: 0px 9.98286px 9.07533px rgba(0, 0, 0, 0.1);
							border-radius: 22px;
							margin-right: -15px;
							width: 35px;
    						height: 35px;
    						img{
								width: 5px;
								height: 10px;
							}
						}
					}
				}
				#sync2{
					margin-bottom: 14px;
					.current{
						border: 2px solid #F1B895;
						filter: drop-shadow(-12px 12px 12px rgba(0, 0, 0, 0.14));
					}
				}
			}

			.slide1{
				display: none;
			}
			.nut-lien-he{
				position: relative;
				.lien-he1{
					background: #EC411B;
					border: 1.33142px solid #FFD48F;
					box-shadow: 0px 16px 14px rgba(241, 184, 149, 0.46), inset 0px 3px 3px #FF3939;
					border-radius: 13px;
					margin: auto;
					font-family: 'Open Sans';
					font-style: normal;
					font-weight: 600;
					font-size: 20px;
					line-height: 27px;
					text-transform: uppercase;
					padding: 8px 21px;
					color: #FFFFFF;
					white-space: nowrap;
					display: block;
					margin-top: 36px;
					z-index: 10;
	    			position: relative;
				}
				&:before{
					content: '';
					background-image: url('../../view/tranh-da-cao-cap/image/la.png');
					left: 0;
					top: 0;
					z-index: 2;
					width: 145px;
					height: 172px;
    				background-repeat: no-repeat;
					position: absolute;
				}	
			}

			.slogan{
				background-image: url('../../view/tranh-da-cao-cap/image/back-slogan.png');
				background-size: 100% 100%;
				background-repeat: no-repeat;
				margin-top: 45px;
				position: relative;
				z-index: 10;
			
	
				h1{
					font-family: 'Open Sans';
					font-style: normal;
					font-weight: 700;
					font-size: 18px;
					line-height: 25px;
					color: #86121A;
					text-transform: uppercase;
					padding: 0 51px;
					&.text-left{
						text-align: left;
						padding-top: 21px;
					}
					&.text-right{
						text-align: right;
						padding-bottom: 21px;
						padding-top: 2px;
					}
				}
			}

			.lua-chon-van-da{
				padding: 0 22px;
				.btn-lien-he{
					display: none;
				}
				.anh-chon{
					padding: 25px 0;
		
					ul{
						list-style: none;
						li{
							img{
								width: 100%;
							}
						}
					}
				}
				.head-nut-chon{
					display: none;
				}
				.nut-chon{

					.tieu-de-chon{
						background: #9B351F;
						box-shadow: 0px 8.40812px 7.64375px rgba(241, 184, 149, 0.46);
						border-radius: 10px;
						font-family: 'Open Sans';
						font-style: normal;
						font-weight: 600;
						font-size: 14px;
						line-height: 19px;
						color: #FFFFFF;
						text-align: center;
						margin: 0 auto;
    					display: block;
    					padding: 10px 0;
    					width: 125px;
					}
				}
				.chon-van{
					display: flex;
					justify-content: space-between;
					margin-top: 17px;
					button{
						background: $trang;
						color: #9B351F;
						border-radius: 10px;
						font-family: 'Open Sans';
						font-style: normal;
						font-weight: 600;
						font-size: 12px;
						line-height: 16px;
						border:none;
						outline: none;
						padding: 8px 15px;
						&.active{
							box-shadow: 0px 9px 8px rgba(241, 184, 149, 0.46);
							color: $trang;
							background: #9B351F;
						}
					}
				}
				.kich-thuoc{
					margin-top: 27px;
					display: flex;
					justify-content: space-between;
					align-items: center;
					.tieu-de-kich-thuoc{
						font-family: 'Open Sans';
						font-style: normal;
						font-weight: 600;
						font-size: 14px;
						line-height: 19px;
						background: #9B351F;
						box-shadow: 0px 8px 8px rgba(241, 184, 149, 0.46);
						border-radius: 10px;
						padding: 8px 15px;
						color: #FFFFFF;
					}	
					.chi-tiet-kich-thuoc{
						background: #FFFAF7;
						border: 0.764375px solid #9B351F;
						border-radius: 10px;
						padding: 4px;
						font-family: 'Open Sans';
						font-style: normal;
						font-weight: 400;
						font-size: 12px;
						line-height: 16px;
						color: #45372D;
						ul{
							list-style: none;
							&.head-title{
								display: flex;
								justify-content: space-around;
							}
							&.body-content{
								padding-top: 4px;
								display: flex;
								justify-content: space-around;
								li{
									p{
										span{
											background: #F1B895;
											border-radius: 5px;
											padding: 3px 2px;
										}
									}
								}
							}
							li{
								padding-right: 10px;
								p{
									text-align: center;
								}
							}
						}
					}
				}
				.khac{
					.co-den{
						margin-top: 25px;
						display: flex;
						justify-content: space-between;
						align-items: center;
						.anh-den{
							background: #FFFAF7;
							color: #9B351F;
							border-radius: 10px;
							font-family: 'Open Sans';
							font-style: normal;
							font-weight: 600;
							font-size: 14px;
							line-height: 19px;
							border:none;
							outline: none;
							padding: 8px 23px;
							border: 0.764375px solid #9B351F;
							&.active{
								box-shadow: 0px 9px 8px rgba(241, 184, 149, 0.46);
								color: $trang;
								background: #9B351F;
							}
						}
						.chon-den{
							button{
								font-family: 'Open Sans';
								font-style: normal;
								font-weight: 400;
								font-size: 12px;
								line-height: 16px;	
								color: #45372D;
								background: #FFFAF7;
								border-radius: 10px;
								border:none;
								outline: none;
								padding: 6px 8px;
								&.active{
									box-shadow: 0px 9px 8px rgba(241, 184, 149, 0.46);
									color: $trang;
									background: #9B351F;
								}
							}
						}
					}
					.tac-vu{
						padding: 26px 0 35px 0;
						display: flex;
						justify-content: space-between;
						ul{
							list-style:none;
							li{
								margin-bottom: 25px;
								button{
									background: #FFFAF7;
									border: 0.764375px solid #9B351F;
									border-radius: 10px;
									font-family: 'Open Sans';
									font-style: normal;
									font-weight: 600;
									font-size: 14px;
									line-height: 19px;
									color: #9B351F;
									padding: 8px 23px;
									&.active{
										color: $trang;
										background: #9B351F;
									}
								}
								&:last-child{
									margin-bottom: 0;
								}
							}
						}
					}
				}
			}

		}

		.hang-dau{
			padding: 0 22px;
			background-image: url('../../view/tranh-da-cao-cap/image/back-hang1.png');
			background-repeat: no-repeat;
			background-size: 100% 100%;
			.anh-hang-dau{
				.tieu-de-hang-dau{
					padding-bottom: 25px;
					h1{
						font-family: 'Open Sans';
						font-style: normal;
						font-weight: 700;
						font-size: 18px;
						line-height: 25px;
						color: #86121A;
						&.td1{
							padding-top: 35px;
							text-align: left;
							padding-left: 25px;
						}
						&.td2{
							text-align: right;
							padding-right: 25px;
						}
					}
				}
				picture{
					img{
						width: 100%;
					}
				}
			}
			.lien-he-dau{
				.tieu-de-hang-dau{
					display: none;
					padding-bottom: 25px;
					h1{
						font-family: 'Open Sans';
						font-style: normal;
						font-weight: 700;
						font-size: 18px;
						line-height: 25px;
						color: #86121A;
						&.td1{
							padding-top: 35px;
							text-align: left;
							padding-left: 25px;
						}
						&.td2{
							text-align: right;
							padding-right: 25px;
						}
					}
				}
				article{
					padding-top: 24px;
					padding-bottom: 28px;
					p{
						font-family: 'Open Sans';
						font-style: normal;
						font-weight: 400;
						font-size: 14px;
						line-height: 22px;
						color: #45372D;
					}
				}
				button{
					background: #EC411B;
					box-shadow: 0px 11px 10px rgba(241, 184, 149, 0.46);
					border-radius: 10px;
					font-family: 'Open Sans';
					font-style: normal;
					font-weight: 600;
					font-size: 14px;
					line-height: 19px;
					color: #FFFFFF;
					border: none;
					outline: none;
					padding: 8px 20px;
					white-space: nowrap;
					margin-bottom: 42px;
				}
			}
		}

		.hang-hai{
			padding: 31px 22px 41px 22px;
			background-image: url('../../view/tranh-da-cao-cap/image/back-hang2.png');
			background-repeat: no-repeat;
			background-size: 100% 100%;
			.anh-hang-hai{
				.tieu-de-hang-hai{
					padding-bottom: 25px;
					h1{
						font-family: 'Open Sans';
						font-style: normal;
						font-weight: 700;
						font-size: 18px;
						line-height: 25px;
						color: #86121A;
						&.td3{
							text-align: left;
							padding-left: 25px;
						}
						&.td4{
							text-align: right;
							padding-right: 25px;
						}
						&.td5{
							text-align: center;
						}
					}
				}
				picture{
					img{
						width: 100%;
					}
				}
			}
			.lien-he-hai{
				.tieu-de-hang-hai{
					display: none;
					padding-bottom: 25px;
					h1{
						font-family: 'Open Sans';
						font-style: normal;
						font-weight: 700;
						font-size: 18px;
						line-height: 25px;
						color: #86121A;
						&.td3{
							text-align: left;
							padding-left: 25px;
						}
						&.td4{
							text-align: right;
							padding-right: 25px;
						}
						&.td5{
							text-align: center;
						}
					}
				}
				article{
					padding-top: 31px;
					padding-bottom: 37px;
					p{
						font-family: 'Open Sans';
						font-style: normal;
						font-weight: 400;
						font-size: 14px;
						line-height: 22px;
						color: #45372D;
					}
				}
				button{
					background: #EC411B;
					box-shadow: 0px 11px 10px rgba(241, 184, 149, 0.46);
					border-radius: 10px;
					font-family: 'Open Sans';
					font-style: normal;
					font-weight: 600;
					font-size: 14px;
					line-height: 19px;
					color: #FFFFFF;
					border: none;
					outline: none;
					padding: 8px 20px;
					white-space: nowrap;
				}
			}
		}

		.quy-trinh{
			background-image: url('../../view/tranh-da-cao-cap/image/back-lap-dat.png');
			background-size: 100% auto;
			background-repeat: no-repeat;
			.chi-tiet{
				background-image: url('../../view/tranh-da-cao-cap/image/front-qt.png');
				background-size: 100% 100%;
				background-repeat: no-repeat;
				padding-bottom: 52px;
				.lap-dat{
					h1{
						font-family: 'Open Sans';
						font-style: normal;
						font-weight: 700;
						font-size: 18px;
						line-height: 25px;
						color: #86121A;
						text-align: center;
						text-transform: uppercase;
						padding-top: 32px;
						padding-bottom: 29px;
					}
					ul{
						padding: 0 40px;
						list-style: none;	
						display: grid;
						justify-content: space-around;
						grid-template-columns: repeat(auto-fill, calc(50% - 24px));
						li{
							padding-bottom: 22px;
							img{
								width: 100%;
							}
							p{
								text-align: center;
								font-family: 'Inter';
								font-style: normal;
								font-weight: 400;
								font-size: 14px;
								line-height: 17px;
								text-align: center;
								color: #45372D;
								padding-top: 15px;
								span{
									color: #2967CF;
								}
							}
						}
					}
				}
				.thi-cong{
					h1{
						font-family: 'Open Sans';
						font-style: normal;
						font-weight: 700;
						font-size: 18px;
						line-height: 25px;
						color: #86121A;
						text-align: center;
						text-transform: uppercase;
						padding-bottom: 21px;
					}
					ul{
						padding: 0 22px;
						list-style: none;
						display: flex;
						justify-content: space-around;
						li{
							width: calc(33.33% - 22px);
							img{
								width: 100%;
							}
							p{
								text-align: center;
								font-family: 'Inter';
								font-style: normal;
								font-weight: 400;
								font-size: 14px;
								line-height: 17px;
								text-align: center;
								color: #45372D;
								padding-top: 15px;
							}
						}
					}
				}
			}
			.gioi-thieu{
				display: none;
			}
			.lien-he{
				padding: 38px 22px 46px 22px;
				.form{
					background-image: url('../../view/tranh-da-cao-cap/image/form.png');
					background-size: 100% 100%;
					background-repeat: no-repeat;
					background-position: center;
					background-color: #fff;
					box-shadow: -7px 10px 16px 0px rgba(158,158,158,0.75);
					-webkit-box-shadow: -7px 10px 16px 0px rgba(158,158,158,0.75);
					-moz-box-shadow: -7px 10px 16px 0px rgba(158,158,158,0.75);
					h1{
						text-align: center;
						font-family: 'Open Sans';
						font-style: normal;
						font-weight: 700;
						font-size: 18px;
						line-height: 25px;
						color: #9B351F;
						padding-top: 29px;
					}
					form{
						div{
    						overflow: hidden;
							padding: 0 30px 39px 30px;
							input[type=text]{
								border-bottom: 1px solid #45372D;
								width: 100%;
								border-top: none;
								border-right: none;
								border-left: none;
								outline: none;
								font-family: 'Open Sans';
								font-style: normal;
								font-weight: 400;
								font-size: 14px;
								line-height: 22px;
								color: rgba(69, 55, 45, 0.56);
							}
							&:first-child{
								padding-top: 30px;
							}
							input[type=button]{
								background: #EC411B;
								box-shadow: 0px 11px 10px rgba(241, 184, 149, 0.46);
								border-radius: 10px;
								font-family: 'Open Sans';
								font-style: normal;
								font-weight: 600;
								font-size: 14px;
								line-height: 19px;
								color: #FFFFFF;
								border: none;
								outline: none;
								padding: 10px 20px;
								white-space: nowrap;
								margin-top: 10px;
								margin-bottom: 58px;
								float: right;
								clear: both;
								
							}
							&.button-lien-he{
								padding-bottom: 0;
							}
						}
					}
				}
			}
		}
	}
}
@media all and (min-width: 521px){
	main{
		.anh-da{
			width: 480px;
			margin: auto;
		}
		.hang-dau{
			width: 480px;
			margin: auto;
		}

		.hang-hai{
			width: 480px;
			margin: auto;
		}

		.quy-trinh{
			width: 480px;
			margin: auto;
		}
	}
}
@media all and (min-width: 1201px){
	main{
		.anh-da{
			width: 100%;
			background-image: url('../../view/tranh-da-cao-cap/image/anh-da-desk.png');
			.tieu-de-tranh-da{
				background-image: url(../../view/tranh-da-cao-cap/image/tieu-de-desk.png);
			    width: 1485px;
			    height: 347px;
			    margin: auto;
			    display: block;
			    position: absolute;
			    left: 0;
			    right: 70px;
			    top: 260px;
				h1{
					font-weight: 700;
					font-size: 44.2377px;
					line-height: 60px;
					padding-top: 127px;
				}
			}

			.slide{
				display: none;
			}

			.slide1{
				display: block;
				background-image: url('../../view/tranh-da-cao-cap/image/back-ht.png');
				background-repeat: no-repeat;
				position: relative;
    			top: 300px;
				height: 1131px;
				width: 1440px;
				padding-top: 68px;
				margin: auto;
			}

			.nut-lien-he{
				display: none;
			}

			.slogan{
				display: none;
			
	
				h1{
					font-family: 'Open Sans';
					font-style: normal;
					font-weight: 700;
					font-size: 18px;
					line-height: 25px;
					color: #86121A;
					text-transform: uppercase;
					padding: 0 51px;
					&.text-left{
						text-align: left;
						padding-top: 21px;
					}
					&.text-right{
						text-align: right;
						padding-bottom: 21px;
						padding-top: 2px;
					}
				}
			}

			.lua-chon-van-da{
				width: 1191px;
				margin: auto;
				display: flex;
				padding: 0;
				.desk1{
					width: 50%;
					order: 2;
					padding: 25px 0;
					.btn-lien-he{
						display: block;
						background-image: url('../../view/tranh-da-cao-cap/image/back-button-desk.png');
						background-size: 100% 100%;
						button{
							background: #EC411B;
							border: 1.68783px solid #FFD48F;
							box-shadow: 0px 19.8899px 18.0817px rgba(241, 184, 149, 0.46), inset 0px 3.80309px 3.80309px #FF3939;
							border-radius: 16.4801px;
							width: 226px;
							height: 56px;
							border: none;
							outline: none;
							font-family: 'Open Sans';
							font-style: normal;
							font-weight: 600;
							font-size: 25px;
							line-height: 34px;
							text-transform: uppercase;
							color: #FFFFFF;

						}
					}
					.anh-chon{

						.btn-lien-he{
							display: block;
						}
						ul{
							list-style: none;
							li{
								img{
									width: 100%;
								}
							}
						}
					}
				}

				.desk2{
					width: 50%;
					order: 1;
					.head-nut-chon{
						display: block;
						background-image: url('../../view/tranh-da-cao-cap/image/back-slogan-desk.png');
						background-size: 100% 100%;
						background-repeat: no-repeat;
						position: relative;
						h1{
							font-family: 'Open Sans';
							font-style: normal;
							font-weight: 700;
							font-size: 25px;
							line-height: 34px;
							color: #86121A;
							text-transform: uppercase;
							padding: 0 51px;
							&.text-left{
								text-align: left;
								padding-top: 27px;
							}
							&.text-right{
								text-align: right;
								padding-bottom: 14px;
								padding-top: 2px;
							}
						}
					}
					.nut-chon{
						padding:40px  50px 0 50px;
						background: linear-gradient(179.2deg, rgba(255, 255, 255, 0.52) 8.96%, rgba(217, 217, 217, 0) 109.45%);
						backdrop-filter: blur(4px);
						.head-nut-chon{
							display: block;
						}
						.tieu-de-chon{
							background: #9B351F;
							box-shadow: 0px 8.40812px 7.64375px rgba(241, 184, 149, 0.46);
							border-radius: 10px;
							font-family: 'Open Sans';
							font-style: normal;
							font-weight: 600;
							font-size: 14px;
							line-height: 19px;
							color: #FFFFFF;
							text-align: center;
							margin: 0 auto;
	    					display: block;
	    					padding: 10px 0;
	    					width: 125px;
						}
						.chon-van{
							display: flex;
							justify-content: space-between;
							margin-top: 17px;
							button{
								background: $trang;
								color: #9B351F;
								border-radius: 10px;
								font-family: 'Open Sans';
								font-style: normal;
								font-weight: 600;
								font-size: 12px;
								line-height: 16px;
								border:none;
								outline: none;
								padding: 8px 15px;
								&.active{
									box-shadow: 0px 9px 8px rgba(241, 184, 149, 0.46);
									color: $trang;
									background: #9B351F;
								}
							}
						}
						.kich-thuoc{
							margin-top: 27px;
							display: flex;
							justify-content: space-between;
							align-items: center;
							.tieu-de-kich-thuoc{
								font-family: 'Open Sans';
								font-style: normal;
								font-weight: 600;
								font-size: 14px;
								line-height: 19px;
								background: #9B351F;
								box-shadow: 0px 8px 8px rgba(241, 184, 149, 0.46);
								border-radius: 10px;
								padding: 8px 15px;
								color: #FFFFFF;
							}	
							.chi-tiet-kich-thuoc{
								background: #FFFAF7;
								border: 0.764375px solid #9B351F;
								border-radius: 10px;
								padding: 4px;
								font-family: 'Open Sans';
								font-style: normal;
								font-weight: 400;
								font-size: 12px;
								line-height: 16px;
								color: #45372D;
								ul{
									list-style: none;
									&.head-title{
										display: flex;
										justify-content: space-around;
									}
									&.body-content{
										padding-top: 4px;
										display: flex;
										justify-content: space-around;
										li{
											p{
												span{
													background: #F1B895;
													border-radius: 5px;
													padding: 3px 2px;
												}
											}
										}
									}
									li{
										padding-right: 10px;
										p{
											text-align: center;
										}
									}
								}
							}
						}
						.khac{
							.co-den{
								margin-top: 25px;
								display: flex;
								justify-content: space-between;
								align-items: center;
								.anh-den{
									background: #FFFAF7;
									color: #9B351F;
									border-radius: 10px;
									font-family: 'Open Sans';
									font-style: normal;
									font-weight: 600;
									font-size: 14px;
									line-height: 19px;
									border:none;
									outline: none;
									padding: 8px 23px;
									border: 0.764375px solid #9B351F;
									&.active{
										box-shadow: 0px 9px 8px rgba(241, 184, 149, 0.46);
										color: $trang;
										background: #9B351F;
									}
								}
								.chon-den{
									button{
										font-family: 'Open Sans';
										font-style: normal;
										font-weight: 400;
										font-size: 12px;
										line-height: 16px;	
										color: #45372D;
										background: #FFFAF7;
										border-radius: 10px;
										border:none;
										outline: none;
										padding: 6px 8px;
										&.active{
											box-shadow: 0px 9px 8px rgba(241, 184, 149, 0.46);
											color: $trang;
											background: #9B351F;
										}
									}
								}
							}
							.tac-vu{
								padding: 26px 0 35px 0;
								display: flex;
								justify-content: space-between;
								ul{
									list-style:none;
									li{
										margin-bottom: 25px;
										button{
											background: #FFFAF7;
											border: 0.764375px solid #9B351F;
											border-radius: 10px;
											font-family: 'Open Sans';
											font-style: normal;
											font-weight: 600;
											font-size: 14px;
											line-height: 19px;
											color: #9B351F;
											padding: 8px 23px;
											&.active{
												color: $trang;
												background: #9B351F;
											}
										}
										&:last-child{
											margin-bottom: 0;
										}
									}
								}
							}
						}
					}
				}
			
				
			}
		}

		.hang-dau{
			width: 100%;
			display: flex;
			justify-content: center;
			padding: 0;
			align-items: center;
			background-image: url('../../view/tranh-da-cao-cap/image/hangdau.png');
			.anh-hang-dau{
				width: 50%;
				padding: 75px 42px 75px 356px;
				.tieu-de-hang-dau{
					display: none;
				}
			}
			.lien-he-dau{
				width: 50%;
				padding-right: 352px;
				padding-left: 85px;
				.tieu-de-hang-dau{
					display: block;
					padding-bottom: 0;
					h1{
						font-size: 20px;
						line-height: 27px;
						&.td1{
							padding-top: 35px;
							padding-left: 25px;
						}
						&.td2{
							padding-right: 95px;
						}
					}
				}
				article{
					padding-top: 29px;
					padding-bottom: 23px;
				}
			}
		}

		.hang-hai{
			width: 100%;
			background-image: url('../../view/tranh-da-cao-cap/image/hanghai.png');
			display: flex;
			justify-content: center;
			align-items: center;
			.anh-hang-hai{
				padding: 75px 353px 75px 52px;
				order: 2;
				width: 50%;
				.tieu-de-hang-hai{
					display: none;
				}
			}
			.lien-he-hai{
				order: 1;
				width: 50%;
				padding-right: 129px;
				padding-left: 374px;
				.tieu-de-hang-hai{
					display: block;
					padding-top: 5px;
					padding-bottom: 15px;
					h1{
						font-size: 20px;
						line-height: 27px;
						&.td3{
							padding-left: 57px;
						}
						&.td4{
							padding-right: 57px;
						}
					}
				}
				article{
					padding-top: 0;
					padding-bottom: 15px;
				}
			}
		}

		.quy-trinh{
			width: 100%;
			background-image: url('../../view/tranh-da-cao-cap/image/quy-trinh-desk.png');
			background-size: 100% 100%;
			padding-top: 64px;
			.chi-tiet{
				background-image: url('../../view/tranh-da-cao-cap/image/lap-dat-desk.png');
				width: 1191px;
				margin: auto;
				.lap-dat{
					h1{
						font-size: 20px;
						line-height: 27px;
						padding-top: 37px;
						padding-bottom: 35px;
					}
					ul{
						padding: 0 228px;
						grid-template-columns: repeat(auto-fill, calc(25% - 34px));
						li{
							padding-bottom: 22px;
							p{
								font-weight: 400;
								font-size: 14px;
								line-height: 17px;
								padding-top: 15px;
								span{
									color: #2967CF;
								}
							}
						}
					}
				}
				.thi-cong{
					h1{
						font-size: 20px;
						line-height: 27px;
						padding-bottom: 32px;
					}
					ul{
						padding: 0 325px;
						li{
							width: calc(33.33% - 65px);
							p{
								padding-top: 25px;
							}
						}
					}
				}
			}
			.gioi-thieu{
				display: block;
				margin-top: 59px;
				.img-logo{
					width: 190px;
					height: 148px;
					margin: auto;
					img{
						width: 100%;
					}						
				}
				p{
					text-align: center;
					padding: 24px 363px 0 363px;
				}
			}
			.lien-he{
				padding: 52px 0 93px 0;
				.form{
					width: 632px;
					margin: auto;
					background-color: #fff;
					box-shadow: -7px 10px 16px 0px rgba(158,158,158,0.75);
					-webkit-box-shadow: -7px 10px 16px 0px rgba(158,158,158,0.75);
					-moz-box-shadow: -7px 10px 16px 0px rgba(158,158,158,0.75);
					h1{
						font-size: 20px;
						line-height: 27px;
						padding-top: 35px;
					}
					form{
						div{
    						overflow: hidden;
							padding: 0 32px 39px 32px;
							&:first-child{
								padding-top: 34px;
							}
							input[type=button]{
								margin-top: 0;
								margin-bottom: 42px;
							}
						}
					}
				}
			}
		}

	}
}