@import 'font';
@media all and (min-width: 0){
	.bg-head{
		background-image: url('../../view/tranh-da-tu-nhien/upload/bg-start.png');
		background-position: top center;
		height: 409px;
		background-repeat: no-repeat;
    	background-size: 100% auto;
		img{
			width: 96px;
		    margin: auto;
		    padding-top: 53px;
		    display: block;
		}
		h1{
			font-family: 'SVN-Aptima';
			text-align: center;
			text-transform: uppercase;
			background: linear-gradient(90deg, #CAA090 0%, #D5CDC2 49.01%, #CAA090 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			font-weight: 700;
			font-size: 23px;
			line-height: 33px;
			text-shadow: 0px 4px 6px rgba(255, 255, 255, 0.25);
			padding: 207px 20px 14px 20px;
			&:after{
					content:"";
					border-bottom: 1px solid #542B1C;
					width: 151px;
					display: block;
					margin: auto;				
			}
		}
	}
	.bg-two{
		background-image: url('../../view/tranh-da-tu-nhien/upload/bg-2.png');
		margin-top: -10px; 
		width: 100%;
		height: auto;
		background-repeat: no-repeat;
		background-position: center;
		.line{
			width: 151px;
			height:1px;
			background: linear-gradient(90deg, #CAA090 0%, #D5CDC2 49.01%, #CAA090 100%);
			margin: auto;
			display: block;
		}
		p{
			font-family: 'SVN-Aptima';
			font-weight: 400;
			font-size: 16px;
			padding: 14px 20px 0 20px;
			line-height: 22px;
			text-align: justify;
			letter-spacing: 0.875px;
			color: #FFFFFF;
		}
		.slide1{
			list-style: none;
			margin-top: 20px;
			padding-left: 76px;
			.owl-item{
				li{
					img{
						padding-right: 30px;
						width: 80%;
					}
				}
			}
			.owl-dots{
				margin-right: 80px;
				.owl-dot{
					&.active{
						span{
							width: 18px!important;
							height: 6px!important;
						}
					}
				} 
			}
		}
		h1{
			font-family: 'SVN-Aptima';
			text-align: center;
			background: linear-gradient(90deg, #CAA090 0%, #D5CDC2 49.01%, #CAA090 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			font-weight: 700;
			font-size: 23px;
			line-height: 33px;
			text-transform: uppercase;
			text-shadow: 0px 4px 6px rgba(255, 255, 255, 0.25);
			padding: 31px 20px 14px 20px;
		}
		.line{
			width: 151px;
			height:1px;
			background: linear-gradient(90deg, #CAA090 0%, #D5CDC2 49.01%, #CAA090 100%);
			margin: auto;
			display: block;
		}
		p{
			font-family: 'SVN-Aptima';
			font-weight: 400;
			font-size: 16px;
			padding: 14px 20px 0 20px;
			line-height: 22px;
			text-align: justify;
			letter-spacing: 0.875px;
			color: #FFFFFF;
		}
		.info1{
			img{
				width: 100%;
				margin-top: 3%;
			}
			.text-in-image{
				margin-top: -75px;
			}
		}
		.slide2{
			list-style: none;
			padding: 20px 0 0 27px;
			.owl-item{
				li{
					img{
						padding-right: 20px;
						width: 100%;
					}
				}
			}
			.owl-dots{
				.owl-dot{
					&.active{
						span{
							width: 18px!important;
							height: 6px!important;
						}
					}
				} 
			}
		}
	}
}
@media all and (min-width: 521px){
	.bg-head,.bg-two{
		width: 480px;
		margin: 0 auto;
	}

}
@media all and (min-width: 1201px){
}
