@media all and (min-width: 0){
	main{
		width: 100%;
		.anh-da{
			background-image: url('../../view/tranh-da-cao-cap/image/back-anh-da.png');
			background-size: 100% auto;
			background-repeat: no-repeat;
			.tieu-de-tranh-da{
				background-image: url('../../view/tranh-da-cao-cap/image/tieu-de.png');
				background-repeat: no-repeat;
	    		width: 100%;
	    		height: 166px;
	    		background-position: center;
				h1{
					font-family: 'Open Sans';
					font-style: normal;
					font-weight: 700;
					padding-top: 60px;
					left: 0;
					right: 0;
					font-size: 20px;
					line-height: 27px;
					text-align: center;
					color: #86121A;
					white-space: nowrap;
				}
			}
		
			#sync1 {
			  .item {
			    background: #0c83e7;
			    padding: 80px 0px;
			    margin: 5px;
			    color: #FFF;
			    -webkit-border-radius: 3px;
			    -moz-border-radius: 3px;
			    border-radius: 3px;
			    text-align: center;
			    img {
			      width: 100%;
			    }
			  }
			}

			#sync2 {
			  .item {
			    background: #C9C9C9;
			    padding: 10px 0px;
			    margin: 5px;
			    color: #FFF;
			    -webkit-border-radius: 3px;
			    -moz-border-radius: 3px;
			    border-radius: 3px;
			    text-align: center;
			    cursor: pointer;
			    img {
			      width: 100%;
			    }
			  }
			  .current .item{
			    background: #0c83e7;
			  }
			}



			.owl-theme {
			  .owl-nav {
			    [class*='owl-'] {
			      transition: all .3s ease;
			      &.disabled:hover {
			       background-color: #D6D6D6;
			      }   
			    }
			    
			  }
			}

			//arrows on first carousel
			#sync1.owl-theme {
			  position: relative;
			  .owl-next, .owl-prev {
			    width: 22px;
			    height: 40px;
			    margin-top: -20px;
			    position: absolute;
			    top: 50%;
			  }
			  .owl-prev {
			    left: 10px;
			  }
			  .owl-next {
			    right: 10px;
			  }
			}
		
			button{
				background: #EC411B;
				border: 1.33142px solid #FFD48F;
				box-shadow: 0px 15.6898px 14.2634px rgba(241, 184, 149, 0.46), inset 0px 3px 3px #FF3939;
				border-radius: 13px;
				margin: auto;
				font-family: 'Open Sans';
				font-style: normal;
				font-weight: 600;
				font-size: 20px;
				line-height: 27px;
				text-transform: uppercase;
				padding: 8px 21px;
				color: #FFFFFF;
				white-space: nowrap;
				display: block;
				margin-top: 36px;
			}
		}

		.hang-dau{
			padding: 0 22px;
			background-image: url('../../view/tranh-da-cao-cap/image/back-hang1.png');
			background-repeat: no-repeat;
			background-size: 100% 100%;
			.anh-hang-dau{
				.tieu-de-hang-dau{
					padding-bottom: 25px;
					h1{
						font-family: 'Open Sans';
						font-style: normal;
						font-weight: 700;
						font-size: 18px;
						line-height: 25px;
						color: #86121A;
						&.td1{
							padding-top: 35px;
							text-align: left;
							padding-left: 25px;
						}
						&.td2{
							text-align: right;
							padding-right: 25px;
						}
					}
				}
				picture{
					img{
						width: 100%;
					}
				}
			}
			.lien-he-dau{
				article{
					padding-top: 24px;
					padding-bottom: 28px;
					p{
						font-family: 'Open Sans';
						font-style: normal;
						font-weight: 400;
						font-size: 14px;
						line-height: 22px;
						color: #45372D;
					}
				}
				button{
					background: #EC411B;
					box-shadow: 0px 11px 10px rgba(241, 184, 149, 0.46);
					border-radius: 10px;
					font-family: 'Open Sans';
					font-style: normal;
					font-weight: 600;
					font-size: 14px;
					line-height: 19px;
					color: #FFFFFF;
					border: none;
					outline: none;
					padding: 8px 20px;
					white-space: nowrap;
					margin-bottom: 42px;
				}
			}
		}

		.hang-hai{
			padding: 31px 22px 41px 22px;
			background-image: url('../../view/tranh-da-cao-cap/image/back-hang2.png');
			background-repeat: no-repeat;
			background-size: 100% 100%;
			.anh-hang-hai{
				.tieu-de-hang-hai{
					padding-bottom: 25px;
					h1{
						font-family: 'Open Sans';
						font-style: normal;
						font-weight: 700;
						font-size: 18px;
						line-height: 25px;
						color: #86121A;
						&.td3{
							text-align: left;
							padding-left: 25px;
						}
						&.td4{
							text-align: right;
							padding-right: 25px;
						}
						&.td5{
							text-align: center;
						}
					}
				}
				picture{
					img{
						width: 100%;
					}
				}
			}
			.lien-he-hai{
				article{
					padding-top: 31px;
					padding-bottom: 37px;
					p{
						font-family: 'Open Sans';
						font-style: normal;
						font-weight: 400;
						font-size: 14px;
						line-height: 22px;
						color: #45372D;
					}
				}
				button{
					background: #EC411B;
					box-shadow: 0px 11px 10px rgba(241, 184, 149, 0.46);
					border-radius: 10px;
					font-family: 'Open Sans';
					font-style: normal;
					font-weight: 600;
					font-size: 14px;
					line-height: 19px;
					color: #FFFFFF;
					border: none;
					outline: none;
					padding: 8px 20px;
					white-space: nowrap;
				}
			}
		}

		.quy-trinh{
			background-image: url('../../view/tranh-da-cao-cap/image/back-lap-dat.png');
			background-size: 100% auto;
			background-repeat: no-repeat;
			.chi-tiet{
				background-image: url('../../view/tranh-da-cao-cap/image/front-qt.png');
				background-size: 100% 100%;
				background-repeat: no-repeat;
				padding-bottom: 52px;
				.lap-dat{
					h1{
						font-family: 'Open Sans';
						font-style: normal;
						font-weight: 700;
						font-size: 18px;
						line-height: 25px;
						color: #86121A;
						text-align: center;
						text-transform: uppercase;
						padding-top: 32px;
						padding-bottom: 29px;
					}
					ul{
						padding: 0 40px;
						list-style: none;	
						display: grid;
						justify-content: space-around;
						grid-template-columns: repeat(auto-fill, calc(50% - 24px));
						li{
							padding-bottom: 22px;
							img{
								width: 100%;
							}
							p{
								text-align: center;
								font-family: 'Inter';
								font-style: normal;
								font-weight: 400;
								font-size: 14px;
								line-height: 17px;
								text-align: center;
								color: #45372D;
								span{
									color: #2967CF;
								}
							}
						}
					}
				}
				.thi-cong{
					h1{
						font-family: 'Open Sans';
						font-style: normal;
						font-weight: 700;
						font-size: 18px;
						line-height: 25px;
						color: #86121A;
						text-align: center;
						text-transform: uppercase;
						padding-bottom: 21px;
					}
					ul{
						padding: 0 22px;
						list-style: none;
						display: flex;
						justify-content: space-around;
						li{
							width: calc(33.33% - 22px);
							img{
								width: 100%;
							}
							p{
								text-align: center;
								font-family: 'Inter';
								font-style: normal;
								font-weight: 400;
								font-size: 14px;
								line-height: 17px;
								text-align: center;
								color: #45372D;
							}
						}
					}
				}
			}
			.lien-he{
				padding: 38px 22px 46px 22px;
				.form{
					background-image: url('../../view/tranh-da-cao-cap/image/form.png');
					background-size: 100% 100%;
					background-repeat: no-repeat;
					background-position: center;
					background-color: #fff;
					box-shadow: -7px 10px 16px 0px rgba(158,158,158,0.75);
					-webkit-box-shadow: -7px 10px 16px 0px rgba(158,158,158,0.75);
					-moz-box-shadow: -7px 10px 16px 0px rgba(158,158,158,0.75);
					h1{
						text-align: center;
						font-family: 'Open Sans';
						font-style: normal;
						font-weight: 700;
						font-size: 18px;
						line-height: 25px;
						color: #9B351F;
						padding-top: 29px;
					}
					form{
						div{
							padding: 0 30px 39px 30px;
							input[type=text]{
								border-bottom: 1px solid #45372D;
								width: 100%;
								border-top: none;
								border-right: none;
								border-left: none;
								outline: none;
								font-family: 'Open Sans';
								font-style: normal;
								font-weight: 400;
								font-size: 14px;
								line-height: 22px;
								color: rgba(69, 55, 45, 0.56);
							}
							&:first-child{
								padding-top: 30px;
							}
							input[type=button]{
								background: #EC411B;
								box-shadow: 0px 11px 10px rgba(241, 184, 149, 0.46);
								border-radius: 10px;
								font-family: 'Open Sans';
								font-style: normal;
								font-weight: 600;
								font-size: 14px;
								line-height: 19px;
								color: #FFFFFF;
								border: none;
								outline: none;
								padding: 8px 20px;
								white-space: nowrap;
								margin-top: 10px;
								margin-bottom: 58px;
							}
							&.button-lien-he{
								padding-bottom: 0;
							}
						}
					}
				}
			}
		}
	}
}
@media all and (min-width: 521px){
	main{
		.anh-da{
			width: 480px;
			margin: auto;
			tieu-de-tranh-da{
		
			}
		}
	}
}
@media all and (min-width: 1201px){
	main{
		.anh-da{
			width: 100%;
			background-image: url('../../view/tranh-da-cao-cap/image/back-anh-da-desk.png');
			.tieu-de-tranh-da{
				background-image: url('../../view/tranh-da-cao-cap/image/tieu-de-desk.png');
				background-size: 100%;
				height: 328px;
				h1{
					font-weight: 700;
					font-size: 44.2377px;
					line-height: 60px;
					padding-top: 127px;
				}
			}
		}


	}
}