@media all and (min-width: 0){
	*{
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
	section{
		width: 100%;
		max-height: 450px;
		img{
			margin: 0 auto;
			background-size: 100% auto;
			background-position: top center;
		}
	}
}
@media all and (min-width: 521px){
	
}
@media all and (min-width: 1201px){
	
}